.contactItem {
  display: flex;
  border: 1px solid black;
  align-items: center;
  width: 240px;
  padding: 10px;
  justify-content: space-between;
}
.info {
  text-align: left;
}
.contactName .contactNumber {
  display: flex;
  flex-direction: row;
}
.name {
  font-size: 12px;
}
